* {
    margin:0;
    padding:0;
    font-family:Rubik,Verdana, Geneva, Tahoma, sans-serif;
}

main, footer, nav, aside, section {
    display:block;
}

.flogo {
    background-image:url("css/images/facebook.png");
    width:24px;
    height:24px;
    margin-right:2px;
    background-repeat:no-repeat;
    background-size:contain;
    display:inline-block;
}

.ilogo {
    background-image:url("css/images/instagram.png");
    width:24px;
    height:24px;
    margin-right:2px;
    background-repeat:no-repeat;
    background-size:contain;
    display:inline-block;
}

.lilogo {
    background-image:url("css/images/linkedin.png");
    width:24px;
    height:24px;
    margin-right:2px;
    background-repeat:no-repeat;
    background-size:contain;
    display:inline-block;
}

.logo {
    background-image: url("css/images/android-chrome-192x192.png");
    width:120px;
    height:120px;
    background-repeat:no-repeat;
    background-size: contain;
    display: block;
    margin:10px;
}

.logo span {
    position:absolute;
    margin-top: 50px;
    margin-left: 140px;
    color:black;
    font-family: 'Nunito', sans-serif;
}

#section_1 {
    background-color: #F9BDBD;
}

#section_2 {
    background-color: #F9BDBD;
    font-family: 'Nunito',sans-serif;
    margin:40px;
    height:420px;
}

#section_2 span {
    position:relative;
    top:30px;
    left:10px;
    font-size:20px;


}


#section_2 .span2 {
    position:relative;
    top:45px;
    left: 200px;
}

#section_2 .span3 {
    position:relative;
    top:60px;
    left: 390px;
}

#section_2 .span4 {
    position:relative;
    top:100px;
    left: 630px;
    font-size: x-large;
    font-weight: 600;
}

#section_2 .span5 {
    position:relative;
    top:120px;
    left:890px;
    font-size: medium;
    font-style: italic;
    font-weight: 600;
    display: inline-block;
}

#section_2 .imgsec2 {
position:absolute;
top:1510px;
left:1120px;

}
.shape1 {
    margin-left:40px;
    margin-top:84px;
    margin-bottom:84px;
    width:278px;
    height:388px;
}

.mypic {
    position:absolute;
    margin-left:120px;
    margin-top:164px;
    margin-bottom: 84px;
    width:290px;
    height:270px;
    border-radius:25px 25px 25px 25px;
}

.bigtext {
    font-family: 'Nunito',sans-serif;
    position:absolute;
    margin-left:500px;
    margin-top:230px;
    margin-bottom:230px;
    font-size: 40px;
}


.bigtext2 {
    font-family:'Nunito',sans-serif;
    position:absolute;
    margin-left:500px;
    margin-top:280px;
    margin-bottom:180px;
    font-size:20px;
}

header, footer, main {
    width:100%;
}

header, h1 {
    font-size: x-large;
}

h1, p, ul {
    margin-left:10px;
}

header .span {
    margin-bottom: 40px;
}

.text {
    margin-left:20px;
    margin-top:20px;
}

.text2 {
    margin-left:58px;
    margin-top:110px;
    padding-left:20px;
    padding-right:20px;
    padding-top:4px;
    padding-bottom:4px;
    border-radius: 25px 25px 25px 25px;
    color:#171F46;
    background-color: #FFFFFF;
    display:inline-block;
}



.container {
    position:relative;
}

.container img {
    position:absolute;
    top:50px;
    left: 72px;
    display:inline-block;
}

.container .img2 {
    position:absolute;
    top:50px;
    left: 300px;
    display:inline-block;
}

.container .img3 {
    position:absolute;
    top:50px;
    left: 525px;
    display:inline-block;
}

.container .img4 {
    position:absolute;
    top:50px;
    left: 760px;
    display:inline-block;
}

.container .img5 {
    position:absolute;
    top:50px;
   left: 990px;
    display:inline-block;
}

.card1 {
    display: inline-block;
    width: 200px;
    height: 264px;
    margin-right:24px;
    margin-left: 24px;
    border-radius:50px;
    background-color: #FDEDE5;
}

.card2 {
    display: inline-block;
    width: 200px;
    height: 264px;
    margin-right:24px;
    border-radius:50px;
    background-color: #EBF1FF;
}

.card3 {
    display: inline-block;
    width: 200px;
    height: 264px;
    margin-right:24px;
    border-radius:50px;
    background-color: #EBFFEC;
}

.card4 {
    display: inline-block;
    width: 200px;
    height: 264px;
    margin-right:24px;
    border-radius:50px;
    background-color: #FFEBFC;
}

.card5 {
    display: inline-block;
    width: 200px;
    height: 264px;
    margin-right:24px;
    border-radius:50px;
    background-color: #FFFEEB;
}
 .card1 a :hover {
    background-color:#171F46;
    color:#FDEDE5;
}

.card2 a :hover{
    background-color:#171F46;
    color:#EBF1FF;
}

.card3 a :hover {
    background-color:#171F46;
    color:#EBFFEC;

}

.card4 a :hover {
    background-color:#171F46;
    color:#FFEBFC;
}

.card5 a :hover {
    background-color:#171F46;
    color:#FFFEEB;

}

