* {
    margin:0px;
    padding:0px;
}

header, footer, main, nav, aside, section {
    display:block;
}

header {
    display: flex;
    justify-content: center;
    background-color: #F5F5F5;
    height:123px;
}

h1, h2, h3, h4, p {
    font-family: 'Amiko', sans-serif;
    margin-left: 30px;
}


nav {
    font-family: 'Amiko', sans-serif;
}

nav ul {
    margin:0 auto;
    padding:58px 32px;
}

nav li {
    display:inline;

}

.blackBox {
    display: flex;
    justify-content:center;
    align-items:center;
    background-color: #000000;
    width: 100px;
    height: 100px;
    position: relative;
    margin: 25px 25px;
}

a {
  text-decoration: none;
  color: #000000;  
}

a :hover {
    font-weight: 800;
}

#wrapper {
    margin:0 auto;
    width: 960px;
    display: flex;
    justify-content: space-between;

}

.innerText {
    font-family: 'Amiko', sans-serif;
    font-size: 40px;
    color: #000000;
}

footer {
    display: flex;
    position:fixed;
    background-color: #000000;
    left:0;
    bottom:0;
    width:100%;
    padding:1px;
}

.select1 {
    display: block;
    position:relative;
    top:36px;
    left:57px;
    height: 18px;
    width: 18px;
    border-radius: 10px;
    background-color: #000000;
}

.select2 {
    display: block;
    position:relative;
    top:36px;
    left:102px;
    height: 18px;
    width: 18px;
    border-radius: 10px;
    background-color: #000000;
}

.select3 {
    display: block;
    position:relative;
    top:36px;
    left:177px;
    height: 18px;
    width: 18px;
    border-radius: 10px;
    background-color: #000000;
}

aside {
    display: flex;
    justify-content:flex-start;
}

aside h1 {
    font-size: 60px;
    position:relative;
    top:267px;
}

aside h3 {
    align-self: flex-start;
    position:relative;
    top:350px;
}

.mixObj {
    display: block;
    background-color: #EBEF18;
    padding:1px;
    margin:6px;
}

.mixObj#mix1 {
    position: relative;
    top:20px;
    width:72px;
    height:23px;
    align-self: flex-start;
}

.mixObj#mix2 {
    position: relative;
    top:20px;
    width:136px;
    height:46px;
    align-self: flex-start;
}

.mixObj#mix3 {
    position: relative;
    top:20px;
    width:136px;
    height:404px;
    align-self: flex-start;
}

.mixObj#mix4 {
    position: relative;
    top:20px;
    width:25px;
    height:25px;
    display: inline-block;
}

.mixObj#mix5 {
    position: relative;
    top:20px;
    width:88px;
    height:28px;
    align-self: flex-start;
}

.mixObj#mix6 {
    position: relative;
    top:20px;
    width:246px;
    height:352px;
    align-self: flex-end;
}

.stairObj {
    display: block;
    position:relative;
    top:20px;
    width:457px;
    height:299px;
    background-color: #C4C4C4;
    align-self: self-end;
}

.stairObj1 {
    display: block;
    position:relative;
    top:70px;
    width:457px;
    height:299px;
    background-color: #C4C4C4;
    align-self: self-start;
}

.stairs {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items:baseline;
}

.dynamic {
    display: flex;
    justify-content: space-between;
}

.dynamicObj {
    display: block;
    height: 80px;
    width: 80px;
    margin:80px;
    background-color: #000000;
}

.dObj1 {
    display: block;
    height: 100px;
    width: 100px;
    margin:100px;
    background-color: #000000;
}

.dObj2 {
    display: block;
    height: 120px;
    width: 120px;
    margin:120px;
    background-color: #000000;
}

.dObj3 {
    display: block;
    height: 140px;
    width: 140px;
    margin:140px;
    background-color: #000000;
}



